<%- include("../partials/header") %>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Manage Category</h3>
    <a href="/admin/category/add" class="btn btn-success">+ Add New</a>
  </div>

  <div class="card shadow-sm rounded-3">
    <div class="card-body">
      <h4 class="card-title">Category Table</h4>
     

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>SL. No</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if (categories && categories.length > 0) { %>
              <% categories.forEach((category, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= category.name %></td>
                  <td>
                    <div class="d-flex gap-2">
                      <a href="/admin/category/edit/<%= category._id %>" class="btn btn-warning btn-sm ">Edit</a>
                      <form action="/admin/category/delete/<%= category._id %>" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm ">Delete</button>
                      </form>
                    </div>
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="3" class="text-center">No categories available</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>

