<%- include("../partials/header") %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card form_card shadow" >
        <div class="card-header form_header" >
          <h3 class="mb-4">Update User</h3>
        </div>
        <div class="card-body">
          <form action="/admin/user-update/<%= user._id %>" method="POST" class="mt-4" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" name="name" class="form-control" placeholder="Enter your Name" value="<%= user.name %>" required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Please enter your mail-Id" value="<%= user.email %>" required>
            </div>

            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select id="role" name="role" class="form-select custom-select" required>
                <option value="client" <%= user.role === "client" ? "selected" : "" %>>Client</option>
                <option value="freelancer" <%= user.role === "freelancer" ? "selected" : "" %>>Freelancer</option>
                <option value="admin" <%= user.role === "admin" ? "selected" : "" %>>Admin</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="isActive" class="form-label">Is Active </label>
              <select id="isActive" name="isActive" class="form-select custom-select" required>
                <option value="true" <%= user.isActive === true ? "selected" : "" %>>Active</option>
                <option value="false" <%= user.isActive === false ? "selected" : "" %>>Blocked</option>
                
              </select>
            </div>

            <div class="mb-3">
              <label for="profilePic" class="form-label">Profile Picture</label>
              <div class="mb-3">
                <img src="/<%= user.profilePic ? user.profilePic : "/images/default-profile-picture.png" %>" class="img-fluid mb-3 rounded shadow" alt="profile picture" width="70">
                <br>
                <input type="file" id="profilePic" name="profilePic" class="form-control" aria-label="profile picture">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/admin/users" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>

